body {
  margin: auto;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  margin: 20px;
}
header .header__logo {
  width: 60%;
}

/* Search Bar */
.search {
  background-color: #eaeaea;
  width: 100%;
  display: flex;
  justify-content: center;
}
.search input {
  border: none;
  background-color: inherit;
}