/* Colors */
/* Buttons */
/* Margins */
/* small screens */
/* medium screens */
/* large screens */
/* extra large screens */
/* Small screens */
/* Medium screens */
/* Large screens */
/* extra large screens */
/* Animation Loading Spinner */
.pre-loader {
  position: fixed;
  width: 100%;
  background-color: white;
  -webkit-animation: affich-loading 4s forwards;
  animation: affich-loading 4s forwards;
  max-width: 1200px;
}

.spinner {
  height: 2000px;
  z-index: 100;
  background-color: white;
}

.spinner-msg {
  text-align: center;
  font-size: 1rem;
  margin: 0px 20px 20vh 20px;
}

.spinner-msg img {
  margin: auto;
  width: 60%;
}

.spinner-msg p {
  background: -webkit-gradient(linear, left top, right top, from(#9356dc), to(#ff79da));
  background: linear-gradient(to right, #9356dc, #ff79da);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.spinner-msg .loader-text-1 {
  position: relative;
  -webkit-animation: text-loader 1s ease-out 0.5s both;
  animation: text-loader 1s ease-out 0.5s both;
}

.spinner-msg .loader-text-2 {
  position: relative;
  -webkit-animation: text-loader 1s ease-out 1s both;
  animation: text-loader 1s ease-out 1s both;
}

.spinner-msg .loader-text-3 {
  position: relative;
  -webkit-animation: text-loader 1s ease-out 1.5s both;
  animation: text-loader 1s ease-out 1.5s both;
}

.spinner-msg .loader-text-4 {
  position: relative;
  -webkit-animation: text-loader 1s ease-out 2s both;
  animation: text-loader 1s ease-out 2s both;
}

.spinner-bars {
  margin: auto;
  width: 35px;
  height: 35px;
}

.spinner-bars div {
  position: absolute;
  width: 6px;
  height: 30px;
  border-radius: 30px;
  background-color: #9356dc;
  opacity: 0.05;
  -webkit-animation: fadeit 0.8s linear 10;
  animation: fadeit 0.8s linear 10;
}

.spinner-bars .bar-1 {
  -webkit-transform: rotate(0deg) translate(0, -25px);
          transform: rotate(0deg) translate(0, -25px);
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

.spinner-bars .bar-2 {
  -webkit-transform: rotate(22.5deg) translate(0, -25px);
          transform: rotate(22.5deg) translate(0, -25px);
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.spinner-bars .bar-3 {
  -webkit-transform: rotate(45deg) translate(0, -25px);
          transform: rotate(45deg) translate(0, -25px);
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.spinner-bars .bar-4 {
  -webkit-transform: rotate(67.5deg) translate(0, -25px);
          transform: rotate(67.5deg) translate(0, -25px);
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.spinner-bars .bar-5 {
  -webkit-transform: rotate(90deg) translate(0, -25px);
          transform: rotate(90deg) translate(0, -25px);
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.spinner-bars .bar-6 {
  -webkit-transform: rotate(112.5deg) translate(0, -25px);
          transform: rotate(112.5deg) translate(0, -25px);
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.spinner-bars .bar-7 {
  -webkit-transform: rotate(135deg) translate(0, -25px);
          transform: rotate(135deg) translate(0, -25px);
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}

.spinner-bars .bar-8 {
  -webkit-transform: rotate(157.5deg) translate(0, -25px);
          transform: rotate(157.5deg) translate(0, -25px);
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.spinner-bars .bar-9 {
  -webkit-transform: rotate(180deg) translate(0, -25px);
          transform: rotate(180deg) translate(0, -25px);
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

.spinner-bars .bar-10 {
  -webkit-transform: rotate(202.5deg) translate(0, -25px);
          transform: rotate(202.5deg) translate(0, -25px);
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.spinner-bars .bar-11 {
  -webkit-transform: rotate(225deg) translate(0, -25px);
          transform: rotate(225deg) translate(0, -25px);
  -webkit-animation-delay: 0.55s;
  animation-delay: 0.55s;
}

.spinner-bars .bar-12 {
  -webkit-transform: rotate(247.5deg) translate(0, -25px);
          transform: rotate(247.5deg) translate(0, -25px);
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.spinner-bars .bar-13 {
  -webkit-transform: rotate(270deg) translate(0, -25px);
          transform: rotate(270deg) translate(0, -25px);
  -webkit-animation-delay: 0.65s;
  animation-delay: 0.65s;
}

.spinner-bars .bar-14 {
  -webkit-transform: rotate(292.5deg) translate(0, -25px);
          transform: rotate(292.5deg) translate(0, -25px);
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.spinner-bars .bar-15 {
  -webkit-transform: rotate(315deg) translate(0, -25px);
          transform: rotate(315deg) translate(0, -25px);
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.spinner-bars .bar-16 {
  -webkit-transform: rotate(337.5deg) translate(0, -25px);
          transform: rotate(337.5deg) translate(0, -25px);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

@-webkit-keyframes fadeit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes affich-loading {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes affich-loading {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes text-loader {
  0% {
    left: -800px;
  }
  100% {
    left: 0;
  }
}

@keyframes text-loader {
  0% {
    left: -800px;
  }
  100% {
    left: 0;
  }
}

/* Bringing page itself */
@-webkit-keyframes affich {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes affich {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Animation Menus */
/* Menus coming-up at loading */
@-webkit-keyframes landing {
  0% {
    top: -1000px;
  }
  100% {
    top: 0px;
  }
}

@keyframes landing {
  0% {
    top: 1000px;
  }
  100% {
    top: 0px;
  }
}

.course-1 {
  position: relative;
  -webkit-animation: landing 1s ease-out 1s both;
  animation: landing 1s ease-out 1s both;
}

.course-2 {
  position: relative;
  -webkit-animation: landing 1s ease-out 2s both;
  animation: landing 1s ease-out 2s both;
}

.course-3 {
  position: relative;
  -webkit-animation: landing 1s ease-out 3s both;
  animation: landing 1s ease-out 3s both;
}

/* animation check in menus */
@-webkit-keyframes check-appear {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

@keyframes check-appear {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

@-webkit-keyframes check-rotate {
  0% {
    transfrom: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes check-rotate {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

body {
  margin: auto;
  font-family: roboto;
  max-width: 1200px;
}

.page-content {
  -webkit-animation: affich 4s forwards;
  animation: affich 4s forwards;
  width: 100%;
}

/* Search Bar */
.gradient {
  width: 100%;
  height: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(lightgrey), to(#eaeaea));
  background: linear-gradient(lightgrey, #eaeaea);
}

.search {
  background-color: #eaeaea;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.search input {
  border: none;
  width: 130px;
  background-color: inherit;
  font-size: 1rem;
}

.search .fa-map-marker-alt {
  padding: 0 10px;
}

/* Title */
.title {
  text-align: center;
  margin: 0;
  background-color: #f6f6f6;
  padding: 40px 0;
}

.title .h1 {
  font-size: 1.7rem;
  margin: 0;
}

.title .h3 {
  font-size: 1.4rem;
  font-weight: normal;
}

/* Explanation */
.explanation {
  margin: 1rem;
}

/* Results */
.results {
  margin: 1rem;
}

.container-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-card a {
  width: 96%;
}

@media (min-width: 800px) {
  .container-card a {
    width: 40%;
    margin: 5%;
  }
}

.container-card a img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 600px;
}

@media (min-width: 300px) and (max-width: 500px) {
  .container-card a img {
    height: 150px;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .container-card a img {
    height: 350px;
  }
}

@media (min-width: 800px) {
  .container-card a img {
    height: 250px;
  }
}

.container-card a h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 15px 10px 0;
}

.container-card a p {
  font-size: 1rem;
  margin: 10px;
}

.container-card a .far.fa-heart,
.container-card a .fas.fa-heart {
  position: relative;
  font-size: 2rem;
  top: -50px;
  float: right;
  margin-right: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container-card a .far.fa-heart {
  right: -72px;
}

.container-card a .fas.fa-heart {
  z-index: 5;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.container-card a .far.fa-heart:hover {
  opacity: 0;
}

.container-card a .fas.fa-heart:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* button Title */
.button {
  font-size: 1.2rem;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 15px;
  border-radius: 30px;
  border: 0;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
}

.button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.4);
}

.button__menus {
  padding: 15px 50px;
}

/* button Explanation */
.steps {
  margin: 20px auto;
  max-width: 500px;
  background-color: #f6f6f6;
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 30px 10px;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 300px) and (max-width: 500px) {
  .steps {
    font-size: 1rem;
  }
}

.steps .number {
  color: white;
  background-color: #9356DC;
  border-radius: 100px;
  padding: 5px 10px;
  left: -20px;
  position: relative;
}

.steps .fas {
  margin-right: 20px;
}

.steps:hover {
  background-color: #e4d5f6;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.4);
}

.steps:hover .fas {
  color: #9356DC;
}

/* Results */
.new {
  background-color: #99E2D0;
  color: #419F86;
  padding: 5px 10px;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
  position: relative;
  top: -600px;
}

@media (min-width: 300px) and (max-width: 500px) {
  .new {
    top: -150px;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .new {
    top: -350px;
  }
}

@media (min-width: 800px) {
  .new {
    top: -250px;
  }
}

/* Cards */
.card {
  color: black;
  text-decoration: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.card:hover {
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.4);
}

/* Menu Button Course */
.menu-anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-anim:hover .course {
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px 0 0 10px;
}

@media (max-width: 350px) {
  .menu-anim:hover .course .course-text h3 {
    font-size: 0.7rem;
  }
}

@media (max-width: 350px) {
  .menu-anim:hover .course .course-text p {
    font-size: 0.6rem;
  }
}

.menu-anim:hover .check {
  -webkit-animation: check-appear 0.5s ease-in-out forwards;
  animation: check-appear 0.5s ease-in-out forwards;
}

.menu-anim:hover .check .fas.fa-check-circle {
  color: white;
  -webkit-animation: check-rotate 0.5s ease-in-out forwards;
  animation: check-rotate 0.5s ease-in-out forwards;
}

.menu-anim .course {
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 10px auto;
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
}

.menu-anim .course .course-text {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2%;
}

.menu-anim .course .course-text h3 {
  padding: 1%;
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (min-width: 300px) and (max-width: 500px) {
  .menu-anim .course .course-text h3 {
    font-size: 0.9rem;
  }
}

@media (min-width: 800px) {
  .menu-anim .course .course-text h3 {
    font-size: 1.5rem;
  }
}

.menu-anim .course .course-text p {
  padding: 1%;
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (min-width: 300px) and (max-width: 500px) {
  .menu-anim .course .course-text p {
    font-size: 0.7rem;
  }
}

@media (min-width: 800px) {
  .menu-anim .course .course-text p {
    font-size: 1.3rem;
  }
}

.menu-anim .course .price {
  font-size: 1.2rem;
  margin: 2%;
}

@media (min-width: 300px) and (max-width: 500px) {
  .menu-anim .course .price {
    font-size: 1rem;
  }
}

@media (min-width: 800px) {
  .menu-anim .course .price {
    font-size: 1.4rem;
  }
}

footer {
  background-color: #353535;
  margin-top: 30px;
  padding: 1rem;
  color: white;
  line-height: 1.5rem;
}

@media (min-width: 800px) {
  footer {
    text-align: center;
  }
}

footer h5 {
  font-family: Shrikhand;
  font-size: 1.5rem;
  margin: 1rem 0;
}

footer .fas {
  padding-right: 10px;
  width: 1rem;
}

footer .footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__end a {
  color: white;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: white;
}

header .header__logo {
  width: 60%;
}

header .return-home {
  position: absolute;
  left: 8%;
  color: black;
  font-size: 8vw;
}

@media (min-width: 1220px) {
  header .return-home {
    font-size: 6rem;
  }
}

.menus {
  background-color: #f6f6f6;
}

.restau img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.restau .restau-text {
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  overflow: hidden;
  top: -60px;
}

.restau .restau-text h1 {
  font-family: "Shrikhand", serif;
  font-size: 1.4rem;
  padding: 20px;
  position: relative;
}

@media (min-width: 500px) and (max-width: 800px) {
  .restau .restau-text h1 {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .restau .restau-text h1 {
    font-size: 3rem;
  }
}

.restau .restau-text .far.fa-heart,
.restau .restau-text .fas.fa-heart {
  position: relative;
  font-size: 2rem;
  top: -70px;
  float: right;
  margin-right: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 800px) {
  .restau .restau-text .far.fa-heart,
  .restau .restau-text .fas.fa-heart {
    font-size: 3rem;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .restau .restau-text .far.fa-heart,
  .restau .restau-text .fas.fa-heart {
    top: -85px;
  }
}

@media (min-width: 800px) {
  .restau .restau-text .far.fa-heart,
  .restau .restau-text .fas.fa-heart {
    top: -110px;
  }
}

.restau .restau-text .far.fa-heart {
  right: -72px;
}

@media (min-width: 800px) {
  .restau .restau-text .far.fa-heart {
    right: -88px;
  }
}

.restau .restau-text .fas.fa-heart {
  z-index: 5;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.restau .restau-text .far.fa-heart:hover {
  opacity: 0;
}

.restau .restau-text .fas.fa-heart:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.restau .restau-text .restau__menu {
  margin: 3%;
}

.restau .restau-text .restau__menu .restau__courses h2 {
  margin: 20px 5px 5px 5px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2rem;
}

@media (min-width: 300px) and (max-width: 500px) {
  .restau .restau-text .restau__menu .restau__courses h2 {
    font-size: 1rem;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .restau .restau-text .restau__menu .restau__courses h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1220px) {
  .restau .restau-text .restau__menu .restau__courses h2 {
    font-size: 2.5rem;
  }
}

.restau .restau-text .restau__menu .restau__courses .underline {
  width: 10%;
  margin-bottom: 20px;
  margin-left: 5px;
  border-bottom: solid #99e2d0;
}

.check {
  background-color: #99E2D0;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.4);
  vertical-align: middle;
  height: auto;
  margin: 10px 0;
  width: 0%;
  padding: 25px 0;
  text-align: center;
  border-radius: 0 10px 10px 0;
}

@media (min-width: 300px) and (max-width: 500px) {
  .check {
    padding: 15px 0;
  }
}

@media (min-width: 800px) {
  .check {
    padding: 30px 0;
  }
}

.check .fas.fa-check-circle {
  color: transparent;
  font-size: 1.6rem;
}

@media (min-width: 300px) and (max-width: 500px) {
  .check .fas.fa-check-circle {
    font-size: 1rem;
  }
}

@media (min-width: 800px) {
  .check .fas.fa-check-circle {
    font-size: 2rem;
  }
}

.order {
  text-align: center;
  top: -20px;
  position: relative;
}

/*@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/about";
@import "./pages/project";*/
/*# sourceMappingURL=main.css.map */