/* Colors */
/* Buttons */
/* Margins */
/* small screens */
/* medium screens */
/* large screens */
/* extra large screens */
/* Small screens */
/* Medium screens */
/* Large screens */
/* extra large screens */
body {
  margin: auto;
  font-family: roboto;
  max-width: 1220px;
}

/* Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

header .header__logo {
  width: 60%;
}

/* Search Bar */
.search {
  background-color: #eaeaea;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  border-top: #cfcfcf 5px solid;
}

.search input {
  border: none;
  background-color: inherit;
  font-size: 1rem;
}

.search .fa-map-marker-alt {
  padding: 0 10px;
}

/* Title */
.title {
  text-align: center;
  margin: 0;
  background-color: #f6f6f6;
  padding: 40px 0;
}

.title .h1 {
  font-size: 1.7rem;
  margin: 0;
}

.title .h3 {
  font-size: 1.4rem;
  font-weight: normal;
}

/* Explanation */
.explanation {
  margin: 1rem;
}

/* Results */
.results {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.results a {
  width: 96%;
}

.results a img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (min-width: 300px) and (max-width: 500px) {
  .results a img {
    height: 150px;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .results a img {
    height: 350px;
  }
}

@media (min-width: 800px) and (max-width: 1220px) {
  .results a img {
    height: 500px;
  }
}

.results a h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 15px 10px 0;
}

.results a p {
  font-size: 1rem;
  margin: 10px;
}

.results a .far {
  position: relative;
  font-size: 2rem;
  top: -50px;
  float: right;
  margin-right: 40px;
}

/* button Title */
.button-explore {
  font-size: 1.2rem;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 15px;
  border-radius: 30px;
  border: 0;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
}

/* button Explanation */
.steps {
  margin: 15px;
  background-color: #f6f6f6;
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 30px 10px;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
}

.steps .number {
  color: white;
  background-color: #9356DC;
  border-radius: 100px;
  padding: 5px 10px;
  left: -20px;
  position: relative;
}

.steps .fas {
  margin-right: 20px;
}

/* Results */
.new {
  background-color: #99E2D0;
  color: #419F86;
  padding: 5px 10px;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
  position: relative;
}

@media (min-width: 300px) and (max-width: 500px) {
  .new {
    top: -150px;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .new {
    top: -350px;
  }
}

@media (min-width: 800px) and (max-width: 1220px) {
  .new {
    top: -500px;
  }
}

/* Cards */
.card {
  color: black;
  text-decoration: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

footer {
  background-color: #353535;
  margin-top: 30px;
  padding: 1rem;
  color: white;
  line-height: 1.5rem;
}

footer h5 {
  font-family: Shrikhand;
  font-size: 1.5rem;
  margin: 1rem 0;
}

footer .fas {
  padding-right: 10px;
  width: 1rem;
}

footer .footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__end a {
  color: white;
  text-decoration: none;
}

/*@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";*/
/*# sourceMappingURL=main.css.map */