footer {
  background-color: $footer-background;
  margin-top: 30px;
  padding: 1rem;
  color: white;
  line-height: 1.5rem;
  @include lg {
    text-align: center;
  }
  h5 {
    font-family: Shrikhand;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .fas {
    padding-right: 10px;
    width: 1rem;
  }
  .footer__end {
    display: flex;
    flex-direction: column;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
