header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
  .header__logo {
    width: 60%;
  }
  .return-home {
    position: absolute;
    left: 8%;
    color: black;
    font-size: 8vw;
    @include xl {
      font-size: 6rem;
    }
  }
}
