/* Animation Loading Spinner */

.pre-loader {
  position: fixed;
  width: 100%;
  background-color: white;
  -webkit-animation: affich-loading 4s forwards;
  animation: affich-loading 4s forwards;
  max-width: 1200px;
}

.spinner {
  height: 2000px;
  z-index: 100;
  background-color: white;
}
.spinner-msg {
  text-align: center;
  font-size: 1rem;
  margin: 0px 20px 20vh 20px;
  img {
    margin: auto;
    width: 60%;
  }
  p {
    background: linear-gradient(to right, #9356dc, #ff79da);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  @for $i from 1 through 4 {
    .loader-text-#{$i} {
      position: relative;
      -webkit-animation: text-loader 1s ease-out 0.5s * $i both;
      animation: text-loader 1s ease-out 0.5s * $i both;
    }
  }
}
.spinner-bars {
  margin: auto;
  width: 35px;
  height: 35px;

  div {
    position: absolute;
    width: 6px;
    height: 30px;
    border-radius: 30px;
    background-color: #9356dc;
    opacity: 0.05;
    -webkit-animation: fadeit 0.8s linear 10;
    animation: fadeit 0.8s linear 10;
  }
  @for $i from 1 through 16 {
    .bar-#{$i} {
      transform: rotate((22.5deg * $i)-22.5deg) translate(0, -25px);
      -webkit-animation-delay: 0.05s * $i;
      animation-delay: 0.05s * $i;
    }
  }
}
@-webkit-keyframes fadeit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes affich-loading {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes affich-loading {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes text-loader {
  0% {
    left: -800px;
  }
  100% {
    left: 0;
  }
}

@keyframes text-loader {
  0% {
    left: -800px;
  }
  100% {
    left: 0;
  }
}
/* Bringing page itself */

@-webkit-keyframes affich {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes affich {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Animation Menus */

/* Menus coming-up at loading */

@-webkit-keyframes landing {
  0% {
    top: 1000px;
  }
  100% {
    top: 0px;
  }
}

@keyframes landing {
  0% {
    top: 1000px;
  }
  100% {
    top: 0px;
  }
}

@for $i from 1 through 3 {
  .course-#{$i} {
    position: relative;
    -webkit-animation: landing 1s ease-out #{$i}s both;
    animation: landing 1s ease-out #{$i}s both;
  }
}

/* animation check in menus */

@-webkit-keyframes check-appear {
  0% {
    width: 0%;
  }

  100% {
    width: 25%;
  }
}

@keyframes check-appear {
  0% {
    width: 0%;
  }

  100% {
    width: 25%;
  }
}

@-webkit-keyframes check-rotate {
  0% {
    transfrom: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes check-rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
