.pre-loader {
  position: fixed;
  width: 100%;
  background-color: white;
  -webkit-animation: affich-loading 3s forwards;
  animation: affich-loading 3s forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.spinner {
    height: 2000px;
      z-index: 100;
      background-color: white;
}
.spinner-msg {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 20vh;
  img {
    margin: auto;
    width: 60%;
  }
}
.spinner-bars {
  margin: auto;
  width: 35px;
  height: 35px;

  div {
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: #9356dc;
    opacity: 0.05;
    -webkit-animation: fadeit 0.8s linear 10;
    animation: fadeit 0.8s linear 10;
  }
  .bar-1 {
    transform: rotate(0deg) translate(0, -25px);
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
  }
  .bar-2 {
    transform: rotate(22.5deg) translate(0, -25px);
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .bar-3 {
    transform: rotate(45deg) translate(0, -25px);
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
  .bar-4 {
    transform: rotate(67.5deg) translate(0, -25px);
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .bar-5 {
    transform: rotate(90deg) translate(0, -25px);
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
  }
  .bar-6 {
    transform: rotate(112.5deg) translate(0, -25px);
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .bar-7 {
    transform: rotate(135deg) translate(0, -25px);
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
  }
  .bar-8 {
    transform: rotate(157.5deg) translate(0, -25px);
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .bar-9 {
    transform: rotate(180deg) translate(0, -25px);
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
  }
  .bar-10 {
    transform: rotate(202.5deg) translate(0, -25px);
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .bar-11 {
    transform: rotate(225deg) translate(0, -25px);
    -webkit-animation-delay: 0.55s;
    animation-delay: 0.55s;
  }
  .bar-12 {
    transform: rotate(247.5deg) translate(0, -25px);
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .bar-13 {
    transform: rotate(270deg) translate(0, -25px);
    -webkit-animation-delay: 0.65s;
    animation-delay: 0.65s;
  }
  .bar-14 {
    transform: rotate(292.5deg) translate(0, -25px);
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  .bar-15 {
    transform: rotate(315deg) translate(0, -25px);
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
  }
  .bar-16 {
    transform: rotate(337.5deg) translate(0, -25px);
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
}
@-webkit-keyframes fadeit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes affich-loading {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes affich-loading {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}