/* Colors */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #f6f6f6;
$background-search:  #eaeaea;
$new-color: #419F86;
$footer-background: #353535;

/* Buttons */
$button-font: 1.2rem;
$button-font-small: 1rem;
$button-shadow: 0px 15px 30px 0px rgba(0,0,0,0.2);
$button-shadow-hover: 0px 15px 30px 0px rgba(0,0,0,0.4);
$opacity-hover: 0.8;

/* Margins */

$margin-container: 1rem;

